*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(233, 0, 0, 0.562);
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/***** banner area css ******/

div.banner{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: fit-content;
    overflow: hidden;
}


.navbar-nav {
    flex-direction: row;
}
  
.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}
  

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.nav-container{
    border-bottom: solid 0.009em rgba(255, 255, 255, 0.5);
}

div.banner .logo{
    margin-top: 25px;
}

.nav-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 10px 10px;
    margin-right: 20px;
    text-transform: uppercase;
}

.banner-text{
    text-align: center;
}
.banner-text h1{
    color: white;
    margin-top: 100px;
    text-transform: uppercase;
    font-weight: 1800;
    font-size: 3em;
}


.banner-text p{
    color: white;
    margin-top: 25px;
    font-size: 1.2em;
}

.banner-text button{
    color: white;
    background-color: rgb(202, 82, 2);
    font-size: 1.2em;
    padding: 10px 40px;
    margin-top: 80px;
    margin-bottom: 100px;
}


/*********** second section css ********/
.second-section{
    text-align: center;
}

div.second-sec-box{
    padding: 20px 20px 45px 20px;
}

div.second-sec-box1{
    margin-top: 50px;
}

div.second-sec-box2{
    margin-bottom: 35px;
}

.second-section img{
    margin-bottom: 15px;
}

.second-section h5{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

.second-section p{
    text-transform: capitalize;
    font-weight: 100;
    color: black;
}


/*********** third section css ********/

.img-fluid{
    width: 100%;
}
.image-section{
    margin-bottom: 100px;
}

.third-sec-img{
    margin-bottom:  25px !important;
}

.overlay-image{
    text-align: center;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #e24819;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
.overlay-image:hover .overlay {
    bottom: 0;
    height: 100%;
  }


/*********** fourth section css ********/

.fourth-sec{
    margin-bottom: 100px;
}


.names{
    color: black;
    margin-top: 25px;
    font-size: 1.5em;
}

.designations{
    color: rgb(218, 107, 66);
    text-transform: uppercase;
    margin-top: -12px;
    margin-bottom: 25px;
}


.emp-description{
    color: rgb(139, 131, 131);
}

.icon-holder{

}

.icon-1{
    float: left;
}

.icon-2{
    float: left;
}

.icon-3{
    float: left;
}

.profile-icons-fb{
    color: rgb(173, 161, 161);
    font-size: 1.3em;
    border: solid 1px rgb(173, 161, 161);
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
}


.profile-icons-twitt{
    color: rgb(173, 161, 161);
    font-size: 1.3em;
    border: solid 1px rgb(173, 161, 161);
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 10px;
}

.profile-icons-linked{
    color: rgb(173, 161, 161);
    font-size: 1.3em;
    border: solid 1px rgb(173, 161, 161);
    border-radius: 5px;
    padding: 10px 10px;
}


/*********** fifth section css ********/



/*********** sixth section css ********/

.sixth-section{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sisxt-sec-h2{
    color: rgb(141, 134, 134);
    text-transform: capitalize;
}

.sixth-sec-p{
    color: black;
    font-weight: 700;
    font-size: 1.2em;
}

.sixth-section button{
    color: white;
    background-color: rgb(202, 82, 2);
    font-size: 1.2em;
    padding: 10px 40px;
}


/****** seventh section css *******/

.seventh-section{
    background: rgba(65, 74, 146, 0.8);
    text-align: center;
    padding-bottom: 30px;
}

.seventh-section h4{
    margin-top: 60px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}

.seventh-section p{
    color: rgb(231, 227, 227);
}

.icon-holder-seventh{
    display: flex;
}


.icon-17{
    flex: 1;
}

.icon-27{
    flex: ;
}

.icon-37{
    flex: 1;
}

.fb-7{
    color: rgb(233, 227, 227);
    font-size: 1.3em;
    border: solid 2px rgb(233, 227, 227);
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 100px;
   
}


.twitt-7{
    color: rgb(233, 227, 227);
    font-size: 1.3em;
    border: solid 2px rgb(233, 227, 227);
    border-radius: 5px;
    padding: 10px 10px;
   
}

.linked-7{
    color: rgb(233, 227, 227);
    font-size: 1.3em;
    border: solid 2px rgb(233, 227, 227);
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 100px;
}


/****** eighth section css *******/

.eighth-section{
    background: rgba(43, 50, 104, 0.8);
    text-align: center;
}
.foot-p1{
    margin-top: 20px;
    color: rgb(207, 207, 207);
    margin-bottom: -10px;
}

.foot-p2{
    margin-bottom: 20px;
    color: rgb(207, 207, 207);
}